{% extends 'account/base.html' %}
{% block title %}Products - SabjiWala{% endblock %}
{% block content %}
<h2 class="mb-4">Available Products</h2>
<div class="row">
    {% for product in products %}
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            {% if product.product_img %}
            <img src="{{ product.product_img.url }}" class="card-img-top" alt="{{ product.sabji_name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.sabji_name }}</h5>
                <p class="card-text">{{ product.formatted_price }}</p>
                <p class="card-text"><small>Seller: {{ product.seller_name }}</small></p>
                <a href="#" class="btn btn-success w-100">Add to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
